@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: whitesmoke;
  margin: 0;
  font-family: "Montserrat", serif;
  overflow-x: hidden;
}
header h1, header h2 {
  margin: 0;
}